.diagonal-close {
  border-color: crimson;
  color: crimson;
  overflow: hidden;
}

.diagonal-close::before {
  position: absolute;
  left: -10%;
  content: "";
  height: 100%;
  width: 0%;
  background-color: crimson;
  transition: all 0.5s;
  transform: skew(30deg);
}

.diagonal-close::after {
  position: absolute;
  right: -10%;
  content: "";
  height: 100%;
  width: 0%;
  background-color: crimson;
  transition: all 0.5s;
  transform: skew(30deg);
}

.diagonal-close:hover::before,
.diagonal-close:hover::after {
  width: 61%;
}
