body {
  height: 100vh;
  margin: 0%;
}

.box {
  height: 200px;
  width: 200px;
  position: relative;
}

.box1 {
  position: relative;
  height: 200px;
  width: 200px;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: aquamarine;
}

.box1::before {
  position: absolute;
  bottom: 0%;
  right: 0%;
  content: "";
  display: block;
  height: 50%;
  width: 50%;
  background-color: red;
}
