.our-services {
  .sub-title {
    max-width: 60rem;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-inline: auto;

    @include mq(1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(700px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .grid-item {
      border: 1px solid rgba(0, 0, 0, 0.122);
      border-radius: 1rem;
      transition: all 0.5s;
      //   background-color: antiquewhite;

      &:hover {
        background-color: var(--primary);
        color: white;
      }
    }
  }
}
