@import "./responsive";
@import "./coverImage";
@import "./our-services";
@import "./video";
@import "./popular-orders";
@import "./feedback";
@import "./clients";
@import "./footer";

:root {
  --primary: #76b456;
  font-size: 10px;
}

.text-dark {
  color: #010100;
}

.text-light {
  color: #0101007c;
}

.text-white {
  color: white;
}

.btn {
  cursor: pointer;
}

.btn:active {
  scale: 1.1;
}

.btn > span::selection {
  background-color: transparent;
}

.sub-title {
  line-height: 2.5rem;
}
