@import "./responsive";
@import "./coverImage";

:root {
  --primary: #76b456;
  font-size: 10px;
}

.text-dark {
  color: #010100;
}

.text-light {
  color: #0101007c;
}

.btn {
  cursor: pointer;
}

.btn:active {
  scale: 1.1;
}

.btn > span::selection {
  background-color: transparent;
}
